/* Got BEM? https://getbem.com/naming/ */

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: var(--tw-gray-800);
  background-color: white;
}

/* Force inheritance of border-box throughout app. */
*, *:before, *:after {
  box-sizing: inherit;
}


/**
* Variables
*/

/* Colors borrowed from Tailwind: https://tailwindcss.com/docs/customizing-colors. */
:root {
  --tw-gray-800: #1f2937;
  --tw-violet-700: #6d28d9;
}

/**
* Body
*/

.body__flex-row {
  display: flex;
  height: 100%;
}

.body__left-column {
  flex: 1 1 auto;
  max-width: 200px;
  background-color: var(--tw-gray-800);
}

.body__padding-column {
  flex: 1 1 auto;
  min-width: 20px;
  max-width: 40px;
}

.body__right-column {
  flex: 1 1 auto;
  max-width: 600px;
}

/**
* Header
*/
.nav__flex-row {
  display: flex;
  justify-content: space-between;
  max-width: 180px;
 }

 /**
* Nav
*/
header {
  margin-top: 40px;
 }

/**
* Main
*/

/**
* Footer
*/
